
.vs/C++_WorkSpace/v16/Browse.VC.db
.vs/C++_WorkSpace/v16/Browse.VC.db-shm
.vs/C++_WorkSpace/v16/Browse.VC.db-wal
.vs/C++_WorkSpace/v16/Browse.VC.opendb
.vs/C++_WorkSpace/v16/ipch/AutoPCH/f5b4317898a3a2eb/16922.ipch
.vs/C++_WorkSpace/v16/Solution.VC.db
.vs/C++_WorkSpace/v16/Solution.VC.db-shm
.vs/C++_WorkSpace/v16/Solution.VC.db-wal
.vs/C++_WorkSpace/v16/.suo
.vs/C++_WorkSpace/v16/ipch/AutoPCH/2e1d812d932e02ab/16924.ipch
